<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-list fa-6x"></i></i>
    <h1 class="display-3">To Do List.</h1>
    <p class="lead">
      “Before you eat the elephant, make sure you know what parts you want to
      eat.”
    </p>
    <hr />
    <a class="btn btn-danger btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
